<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Ian Anderson</string>
	<key>contactEmailRot13</key>
	<string>getfatday@gmail.com</string>
	<key>description</key>
	<string>Android is a software platform and operating system for mobile devices.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>C43E4740-6B9A-4AD4-99D1-B6BDF57928CB</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Android</string>
	<key>ordering</key>
	<array>
		<string>C43E4740-6B9A-4AD4-99D1-B6BDF57928CB</string>
	</array>
	<key>uuid</key>
	<string>8B3F1FC2-DC2B-486E-95FB-A74628D5AF6C</string>
</dict>
</plist>
